.services-screen__service {
	background: white;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
}

.services-screen__service-icon {
	border: 1px solid #eaeaea;
	border-radius: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	height: 48px;
	margin-bottom: 8px;
	padding: 8px;
	width: 48px;
}

.services-screen__service-icon img {
	flex-shrink: 1;
}

.services-screen__service-title {
	color: var(--black);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
}

.services-screen__service-text {
	color: var(--black);
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	margin: 0;
}
