.product__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product__price-per {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin: 0;
}

.product__price-per sup {
    font-size: 10px;
}
