.product__info {
	align-items: center;
	color: var(--black);
	display: flex;
	flex-direction: row;
	font-size: 20px;
	font-weight: 600;
	gap: 6px;
	line-height: 24px;
	margin: 0;
}

.product__info-line {
	background: var(--black);
	height: 80%;
	width: 1px;
}

.product__info sup {
	color: var(--black);
	font-size: 12px;
	line-height: 14px;
	margin-left: 2px;
}
