.footer__nav-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer__nav-item {
	color: var(--black);
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-decoration: none;
}

.footer__nav-item a {
	all: inherit;
}
