.faq-screen {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 0 auto;
	max-width: 878px;
}

.faq-screen__title {
	color: var(--black);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	margin: 0 0 16px;
}
