.footer__credits {
	color: #999;
	display: -webkit-box;
	font-size: 12px;
	font-weight: 400;
	-webkit-line-clamp: 1;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding-top: 16px;
	text-overflow: ellipsis;
}
