.footer__credits {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    padding-top: 16px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
