.index-screen__advantage {
	background: #eaeaea;
	border-radius: 4px;
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin-top: 8px;
	padding: 1px;
}

.index-screen__advantage-block {
	align-items: center;
	background: white;
	display: flex;
	flex-direction: row;
	padding: 16px;
}

.index-screen__advantage-block-body {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.index-screen__advantage-block-title {
	color: var(--black);
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

.index-screen__advantage-block-description {
	color: #999;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

.index-screen__advantage-block-decimetre {
	background: #d9d9d9;
	height: 100%;
	margin-left: 16px;
	margin-right: 24px;
	max-height: 56px;
	width: 1px;
}

.index-screen__advantage-block-image {
	height: 96px;
	width: 96px;
}
