.product__description {
	-webkit-box-orient: vertical;
	color: #999;
	display: -webkit-box;
	font-size: 12px;
	font-weight: 400;
	-webkit-line-clamp: 2;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
