.header__nav {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-inline: auto;
}

.header__nav-item {
	color: var(--black);
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	text-decoration: none;
}
