.feedback-form {
	border: 1px solid #eaeaea;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 16px;
	padding: 16px;
}

.feedback-form__title {
	color: var(--black);
	font-size: 30px;
	font-weight: 600;
	line-height: 32px;
	margin: 0;
}

.feedback-form__subtitle {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
	padding-bottom: 8px;
}

.feedback-form__form {
	align-items: flex-end;
	display: flex;
	flex: 1;
	flex-direction: row;
	gap: 8px;
}

.feedback-form__info {
	color: #999;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	margin: 8px 0 0 0;
}
