.product__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
