.footer__socials {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.footer__socials-item {
	align-items: center;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	display: flex;
	height: 52px;
	justify-content: center;
	width: 52px;
}
