.product__subway {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin: 0;
}

.product__subway span {
    color: #999999;
}
