.disclosure__button {
	align-items: center;
	background: none;
	border: none;
	border-top: 1px solid #eaeaea;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	outline: none;
	padding: 16px 0;
	text-align: left;
}

.disclosure__button-title {
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
	margin: 0;
}
