.product-screen__price {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.product-screen__price-body {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.product-screen__price-total {
	color: var(--black);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	margin: 0;
}

.product-screen__price-metre {
	color: black;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

.product-screen__price-arrow {
	align-items: center;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	display: flex;
	height: 24px;
	justify-content: center;
	width: 24px;
}

.product-screen__price-permonth {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	margin: 0;
}
