.product-screen__price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-screen__price-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.product-screen__price-total {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
    margin: 0;
}

.product-screen__price-metre {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.product-screen__price-arrow {
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-screen__price-permonth {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
