.double-input {
	align-items: center;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	max-width: 233px;
	padding: 8px 16px;
}

.double-input__input {
	background: none;
	border: none;
	color: var(--black);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	outline: none;
	width: 100%;
}

.double-input__input::placeholder {
	color: #a8aab6;
}

.double-input__input::-webkit-inner-spin-button, .double-input__input::-webkit-outer-spin-button {
	appearance: none;
}

.double-input__decimetre {
	background: #a8aab6;
	height: 24px;
	width: 1px;
}
