.index-screen__count {
	display: flex;
	flex-direction: row;
	gap: 8px;
	padding-top: 56px;
}

.index-screen__count-block {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.index-screen__count-container {
	border: 1px solid #eaeaea;
	border-radius: 4px;
	flex: 1;
	padding: 16px;
}

.index-screen__count-title {
	color: var(--black);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	margin: 0 0 16px 0;
}

.index-screen__count-list {
	color: var(--black);
	display: flex;
	flex-direction: column;
	font-size: 30px;
	font-weight: 500;
	gap: 16px;
	line-height: 32px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.index-screen__count-call-title {
	color: var(--black);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
}

.index-screen__count-phone {
	color: #1b1b1b;
	font-size: 30px;
	font-weight: 500;
	line-height: 32px;
	margin: auto 0 0 0;
	padding-top: 48px;
}

.index-screen__count-list li {
	align-items: center;
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.index-screen__count-line {
	background: #eaeaea;
	height: 1px;
	margin: 0 16px;
	width: 100%;
}
