@import url('./normalize.css');

:root {
    /* Colors */
    --black: #1B1B1B;
    --placeholder: #A8AAB6;

    /* Breakpoints */
    --xl: 1320px;
    --l: 1024px;
    --m: 768px;
    --s: 480px;
    --xs: 320px;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
