.product {
    flex-direction: column;
    gap: 8px;
}

.product__images-bar, .product__description, .product__area, .product__address, .product__body-footer {
    display: none;
}

.product__price {
    position: unset;
    order: -1;
    align-items: flex-start;
}

.product__price-per {
    display: none;
}

.product__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
