.index-screen__search {
	align-items: center;
	background-image: url("./assets/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 560px;
	justify-content: center;
}

.index-screen__search-title {
	color: white;
	font-size: 36px;
	font-weight: 600;
	line-height: 40px;
	text-shadow: 0 4px 11px #000;
}

.index-screen__search-form {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.index-screen__search-form-container {
	backdrop-filter: blur(18px);
	background: white;
	border-radius: 4px;
	display: flex;
	gap: 8px;
	padding: 8px;
}
