.index-screen__search {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-screen__search-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: white;
    text-shadow: 0 4px 11px #000000;
}

.index-screen__search-form {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.index-screen__search-form-container {
    display: flex;
    padding: 8px;
    background: white;
    backdrop-filter: blur(18px);
    border-radius: 4px;
    gap: 8px;
}
