.product-screen__images {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 8px;
	max-width: 877px;
	position: relative;
}

.product-screen__images-back, .product-screen__images-favorite {
	backdrop-filter: blur(17.5px);
	background: rgba(255, 255, 255, 0.41);
	border: none;
	color: black;
	left: 16px;
	position: absolute;
	top: 16px;
	z-index: 1;
}

.product-screen__images-favorite {
	height: 32px;
	left: unset;
	right: 16px;
	width: 32px;
}

.product-screen__images-main {
	border-radius: 4px;
	height: 100%;
	min-height: 541px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.product-screen__images-bar {
	display: flex;
	flex-direction: row;
	gap: 8px;
	height: 133px;
}

.product-screen__images-bar-item {
	border-radius: 4px;
	flex: 1;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.product-screen__images-carousel {
	height: 100%;
	width: 100%;
}

.react-multi-carousel-track {
	gap: 8px;
	height: 100%;
}

.react-multi-carousel-item {
	pointer-events: none;
	-webkit-user-drag: none;
	user-select: none;
}
