.pagination {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 50px;
}

.pagination__button {
	align-items: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	font-weight: 400;
	gap: 8px;
	height: 48px;
	justify-content: center;
	outline: none;
	transition: 0.2s;
	width: 100%;
}

.pagination__button:hover {
	background: #d9d9d9;
	transition: 0.2s;
}

.pagination__list {
	display: flex;
	flex-direction: row;
	gap: 5px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pagination__list-item {
	align-items: center;
	background: #f0f0f0;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	height: 48px;
	justify-content: center;
	transition: 0.2s;
	width: 48px;
}

.pagination__list-item:hover:not(.pagination__list-item_active) {
	background: #d9d9d9;
	transition: 0.2s;
}

.pagination__list-item_active {
	background: var(--black);
	color: white;
}

.pagination__list-item:last-child {
	margin-left: 5px;
}

.pagination__list-item:first-child {
	margin-right: 5px;
}
