.product__images {
    display: flex;
    flex-direction: row;
    height: 200px;
    gap: 8px;
}

.product__images-main {
    border-radius: 4px;
}

.product__images-bar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;
}

.product__images-bar-item {
    border-radius: 4px;
}
