.empty {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	padding: 122px 0;
}

.empty__title {
	color: var(--black);
	font-size: 30px;
	font-weight: 600;
	line-height: 32px;
	margin: 0;
}

.empty__illustration {
	padding-top: 16px;
}

.empty__link {
	align-items: center;
	color: var(--black);
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-weight: 500;
	gap: 8px;
	line-height: 16px;
	margin: 8px 0 0 0;
	text-decoration: none;
}
