.contacts-screen__address {
	display: flex;
	flex-direction: column;
}

.contacts-screen__address-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.contacts-screen__address-item {
	display: flex;
	font-size: 36px;
	font-weight: 500;
	justify-content: space-between;
	line-height: 40px;
	margin: 0;
	padding: 24px 0;
}

.contacts-screen__address-item:first-child {
	border-bottom: 1px solid #eaeaea;
}
