.contacts-screen__address {
    display: flex;
    flex-direction: column;
}

.contacts-screen__address-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contacts-screen__address-item {
    padding: 24px 0;
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.contacts-screen__address-item:first-child {
    border-bottom: 1px solid #EAEAEA;
}
