.footer__contact {
	display: flex;
	flex-direction: column;
	gap: 13px;
	max-width: 224px;
}

.footer__contact-title {
	color: var(--black);
	font-size: 14px;
	font-weight: 500;
	line-height: 130%;
	margin: 0;
}

.footer__contact-made {
	color: var(--black);
	font-size: 14px;
	font-weight: 500;
	line-height: 130%;
	margin: 0;
}
