.footer__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.footer__nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

.footer__nav-item a {
    all: inherit;
}
