.stock-products {
	display: flex;
	flex-direction: column;
	padding-top: 56px;
}

.stock-products__header {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 24px;
}

.stock-products__title {
	color: black;
	font-size: 30px;
	font-weight: 600;
	line-height: 32px;
	margin: 0;
}

.stock-products__body {
	display: grid;
	gap: 16px 8px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
