.select {
	position: relative;
	width: 100%;
}

.select__button {
	align-items: center;
	background: none;
	width: 100%;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	color: var(--black);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	font-weight: 500;
	gap: 6px;
	justify-content: center;
	line-height: 24px;
	outline: none;
	padding: 8px 16px;
}

.select__button::placeholder {
	color: var(--placeholder);
}

.select__options {
	background: white;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	bottom: 0;
	color: var(--black);
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	list-style-type: none;
	margin: 0;
	padding: 8px 4px;
	position: absolute;
	transform: translateY(calc(100% + 6px));
	width: -webkit-fill-available;
	z-index: 100000;
}

.select__option {
	padding: 4px;
	transition: 0.2s;
	border-radius: 4px;
	cursor: pointer;
}

.select__option:hover {
	transition: 0.2s;
	background: rgba(27, 27, 27, 0.2);
}
