.radio {
	align-items: center;
	display: flex;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	padding-left: 25px;
	position: relative;
}

.radio__input {
	height: 0;
	opacity: 0;
	width: 0;
}

.radio__button {
	border: 1px solid #1b1b1b;
	border-radius: 3px;
	cursor: pointer;
	height: 16px;
	left: 0;
	position: absolute;
	top: 0;
	width: 16px;
}

.radio__button:after {
	background: #1b1b1b;
	border-radius: 2px;
	content: "";
	height: 8px;
	left: 25%;
	position: absolute;
	top: 25%;
	transform: scale(0);
	transition: all .2s;
	width: 8px;
}

.radio__input:checked ~ .radio__button:after {
	transform: scale(1);
}
