.breadcrumb__item {
	align-items: center;
	color: #999;
	display: flex;
	font-size: 12px;
	font-weight: 500;
	gap: 8px;
	line-height: 16px;
}

.breadcrumb__item a {
	all: inherit;
	cursor: pointer;
}

.breadcrumb__item:last-child .breadcrumb__item-icon {
	display: none;
}

.breadcrumb__item:last-child a {
	cursor: default;
	pointer-events: none;
}
