.product__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.product__body-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__body-footer {
    display: flex;
    margin-top: auto;
    gap: 8px;
}
