.catalog-screen {
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.catalog-screen__filter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 214px;
    width: 100%;
    flex-shrink: 0;
}

.catalog-screen__content {
    display: flex;
    flex-direction: column;
}
