.login-screen {
	border: 1px solid #eaeaea;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	margin: 116px auto;
	max-width: 953px;
	width: 100%;
}

.login-screen__image {
	border-radius: 4px;
	display: flex;
	object-fit: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.login-screen__form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 416px;
	padding: 24px;
}

.login-screen__form-header {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 48px;
}

.login-screen__form-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	margin: 0;
}

.login-screen__form-subtitle {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 8px 0 0 0;
}


.login-screen__form-action {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-weight: 400;
	gap: 5px;
	line-height: 16px;
}

.login-screen__form-action-text {
	color: #999;
	margin: 0;
}

.login-screen__form-action-do {
	color: var(--black);
	font-weight: 500;
	text-decoration: none;
}

.login-screen__form-footer {
	color: #999;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	margin: auto 0 0 0;
}
