.code-screen {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 16px;
	position: relative;
}

.code-screen__block {
	align-items: center;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	color: var(--black);
	display: flex;
	flex: 1;
	font-size: 14px;
	font-weight: 400;
	height: 56px;
	justify-content: center;
	line-height: 24px;
}

.code-screen__input {
	background: red;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
